@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c2b1e;
  --foreground: #f5f0e8;
}

html {
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
